{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}


<h1>Din Strøm Oversikt </h1>
<p>
    Vi henter ut ditt strømforbruk fra forrige måned. <br>
    Vi gir deg en oversikt over forbruket ditt. <br>
    Vårt mål er å hjelpe deg spare på strømregningen. <br>
    Vi gir også tips om billigere strømavtaler for å redusere kostnadene dine. <br>

</p>
<form action=" {{ url_for('result') }}" method="post">
    <label for="property-type">Velg Bolig Type:</label>
    <select id="property-type" name="property">
        {% for property_type in property_types %}
        <option value="{{ property_type }}">{{ property_type }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="size">Velg Bolig Størrelse:</label>
    <select id="size" name="size">
        {% for size in property_size_interval %}
        <option value="{{ size }}">{{ size }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="last_bill">Beløp På Din Siste Regnig:</label>
    <input type="text" , id="last_bill" name="last_bill" , pattern="-?\d+(.\d{0,2})?"
        title="Please enter a float like (1200.30)">
    <br><br>


    <input type="submit" value="Submit">
</form>
{% endblock %}